body {
  font-family: Montserrat, sans-serif;
}

.bn-lgo {
  margin-left: .3rem;
  font-weight: bold;
  font-size: 1.7rem;
  color: #3a3a3a;
}

.nav-item {
  margin: .3rem;
  padding: .5rem;
  border-radius: 1rem;
}

.nav-item > a {
  color: #3a3a3a;
  margin: auto .4rem;
  text-decoration: none;
}

.nav-item:hover {
  background-color: #D1ECFF;
  transition: background-color 0.5s;
}

.nav-item:active {
  background-color: #83C4E2;
}

.banner {
  background-image: url('../img/v1.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100%;
}

.bn-cap {
  
  padding-top: 11rem;
  text-align: center;
  color: #3a3a3a;
  font-size: 7rem;
  font-weight: 600;
  letter-spacing: .3rem;
}

.bn-but {
  position: absolute;
  left: 50%;
  top: 25rem;
}

.bn-but > button {
  display: inline-block;
  padding: .7rem 2rem;
  position: relative;
  left: -50%;
}

.bn-but > button > a {
  text-decoration: none;
  color: #fff;
}

.lgn-card {
  padding-top: 4rem;
}

.auth-ls > .card-title {
  text-align: center;
  color: #3a3a3a;
  font-size: 1.5rem;
  margin: 2rem auto;
}

.auth-ls {
  margin: .2rem 2rem;
}

.auth-ls > input {
  margin: 1.5rem auto;
}

.auth-ls > div > button {
  width: 25rem;
}

.auth-ls > .cr-lgn {
  margin: 1rem auto;
  text-align: end;
  font-size: .9rem;
}