body {
  font-family: Montserrat, sans-serif !important;
}

a {
  text-decoration: none !important;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2rem;
  background-color: #fff;
  display: block;
}

.f-int {
  position: static;
  /* width: 100%; */
}

.bn-lgo {
  margin-left: .3rem;
  font-weight: bold;
  font-size: 1.7rem;
  color: #3a3a3a;
  font-family: Montserrat, sans-serif;
}

.bn12 {
  border-radius: 1rem !important;
  margin: .3rem !important;
  padding: .5rem !important;
  color: #3a3a3a !important;
  font-size: 1rem !important;
}

.clpr-badge  > .MuiBadge-colorPrimary {
  background-color: #2196F3;
}

.nav-ic {
  color: #3a3a3a;
}

.ic-but {
  border-radius: .5rem !important;
  margin-left: .1rem !important;
}

.bn12:hover {
  background-color: #D1ECFF !important;
}

.bn12:active {
  background-color: #83C4E2 !important;
}

.banner {
  background-image: url('../img/v1.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100%;
}

.bn-cap {
  /* margin-top: 0; */
  /* padding-top: 11rem;
  text-align: center;
  color: #3a3a3a;
  font-size: 7rem;
  font-weight: 600;
  letter-spacing: .3rem; */
  position: relative;
  left: -50%;
  height: 100px;
}

.bn-capln {
  position: absolute;
  left: 50%;
  top: 16rem;
}

.bn-but {
  position: absolute;
  left: 50%;
  top: 25rem;
}

.bn-but > a {
  display: inline-block;
  padding: .7rem 2rem;
  position: relative;
  left: -50%;
  background-color: #17a2b8;
  color: #fff;
}

.bn-but > a:hover {
  background-color: #007bff;
}

.lgn-card {
  padding-top: 4rem;
}

.auth-ls > .card-title {
  text-align: center;
  color: #3a3a3a;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.g1-lgn, .auth-ls {
  margin: 4rem 2rem !important;
}

.auth-ls > input {
  margin-top: 1.5rem;
}

.tf-clgn {
  margin: .5rem 0 !important;
}

.auth-ls > div > button {
  margin-top: 2.1rem;
  width: 25rem;
  background-color: #007bff;
  color: #fff;
}

.auth-ls > div > button:hover {
  background-color: #0062cc;
}

.auth-ls > .cr-lgn {
  margin: 1rem auto;
  text-align: end;
  font-size: .9rem;
}

.auth-ls > .cr-lgn > a {
  color: #007bff;
}

.auth-ls > .cr-lgn > a:hover {
  color: #0056b3;
}

.cr-sn {
  text-align: end;
  font-size: .9rem;
  color: red;
  padding-bottom: .7rem;
}

.err-auth {
  display: none;
}